:root {
    /* Images */
    --logo: url(../img/logo.png);
    --logo-small: url(../img/logo-small.png);
    --favicon: url(../img/favicon.png);
    --tree-background: url(../img/tree-background.png);

    --cannabis-buds-image: url();
    --cannabis-accessoires-image: url();
    --cannabis-bloom-image: url();
    --cannabis-production-image: url();

    --partner-image-1: url();
    --partner-image-2: url();
    --partner-image-3: url();
    --partner-image-4: url();
    --partner-image-5: url();

    --newsletter-banner-image: url();

    --our-recensions-person-picture-image-1: url();
    --our-recensions-person-picture-image-2: url();
    --our-recensions-person-picture-image-3: url();
    --our-recensions-person-picture-image-4: url();
    --our-recensions-person-picture-image-5: url();

    --recension-person-icon-1: url();
    --recension-person-icon-2: url();
    --recension-person-icon-3: url();
    --recension-person-icon-4: url();

    /* Background */
    --background-color-transparent: transparent;
    --background-color-black: black;
    --background-color-grey: grey;
    --background-color-darkgrey: darkgrey;
    --background-color-white: white;
    --background-color-lila: purple;

    /* Colors */
    --color-primary: transparent;
    --green: green;
    --red: red;
    --blue: blue;
    --yellow: yellow;
    --orange: orange;
    --pink: pink;
    --purple: purple;
    --teal: teal;
    --gray: gray;
    --gray-dark: gray;
    --gray-darker: gray;
    --gray-darkest: gray;
    --gray-light: gray;
    --gray-lighter: gray;
    --gray-lightest: gray;
    --white: white;
    --white-soft: white;
    --white-mute: white;
    --black: #181818;
    --black-soft: #222222;
    --black-mute: #282828;
    --indigo: #2c3e50;
    --divider-light-1: rgba(60, 60, 60, 0.29);
    --divider-light-2: rgba(60, 60, 60, 0.12);
    --divider-dark-1: rgba(84, 84, 84, 0.65);
    --divider-dark-2: rgba(84, 84, 84, 0.48);
    --text-light-1: var(--indigo);
    --text-light-2: rgba(60, 60, 60, 0.66);
    --text-dark-1: var(--white);
    --color-text: var(--text-light-1);
    --color-background: var(--white);
    --color-background-soft: var(--white-soft);
    --color-background-mute: var(--white-mute);
    --color-divider: var(--divider-light-1);
    --color-divider-soft: var(--divider-light-2);
    --color-divider-mute: var(--divider-dark-1);
    --color-divider-dark: var(--divider-dark-2);
    --color-text-light: var(--text-light-1);
}